/** General */

html, body {      
  width: 100%;
  height: 100%;  
  overflow: hidden;    
  /* https://www.maujor.com/tutorial/css3-gradientes-lineares.php */
  background-image: linear-gradient(100deg,white,dimgray)
}

.row{
  /* height: 100%;     Um painel de senha */
  /* height: 50%;     /* Dois Paineis de senha */
  margin: 0.5em 0px !important;  
}

.col{
  margin: 0px !important;
}


/** Setup */

h1{  
  color:yellow;
  /* margin-top: 10px; */ 
  font-size: 6em;  
}

h5{
  font-size: 5em;  
}

.azul{
  color: mediumblue;
}

.vermelho{
  color: red;
}

.font-1{
  font-family: 'Bungee', cursive;
  font-weight: 400;
}

.font-2{
  font-family: 'Bungee', cursive;
  font-weight: 700;
}

.card{  
  width: 100%;
  /* height: 100%; */  
  text-align: center;
  vertical-align: middle;
  border: 8px solid dimgray;
  border-radius: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card p{  
  font-size: 8em;    
}

